body {
  background-color: #f9f9f9;
  color: #222;
  font-family: 'Georgia', serif;
  margin: 4em auto;
  max-width: 600px;
  line-height: 1.6;
  text-align: center;
}

a {
  color: #006600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 2em;
  font-size: 0.9em;
  color: #555;
}
